.pagination-container {
    display: flex;
    flex-direction: row;
    width: 17%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

.pagination-element {
    background-color: #445A9A;
    width: 35px;
    height: 35px;
    /* font-weight: bold; */
    font-size: large;
    color:white;
    border-radius: 5px;
    border: none;
}

.pagination-element:hover {
    cursor: pointer;
}

.active-pagination-element:hover {
    cursor: pointer;
}

.active-pagination-element {
    background-color: #172242;
    width: 35px;
    height: 35px;
    /* font-weight: bold; */
    font-size: large;
    color:white;
    border-radius: 5px;
    border: none;
}