#logout-options {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 93%;
    top: 4.5%;
    z-index: 9999;
    border: none;
    background-color: #172242;
    border-radius: 9px;
    width: 6%;
    height: 3em;
}

#logout-options-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    background-color: transparent;
    width: 90%;
    height: 100%;
    margin-top: -1%;
}

.logout-options-element {
    background-color: transparent;
    cursor: pointer;
}