#navbar-container {
    padding-left: 2%;
    padding-right: 2%;
}

#seperator {
    width: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#page-name {
    font-size: x-large;
    margin-bottom: -0.1%;
}